.body, html {
    height:100%;
}

.tbl_list {
    border-width:0px;
}

#section1 {
    background-image:url(../images/skyline2.jpg);
    height:310px;

}

#section2 {
    background-image:url(../images/skyline.jpg);
    height:310px;
}

#area_1 {
    height:100%;
}