html, body {
    height: 100%;
}

.tbl_list {
    border-width: 0px;
}

#cover {
    background-image: url(../images/skyline5.jpg);
    background-size: cover;
    height: inherit;
}

#work {
    background-image: url(../images/terrain.jpg);
    background-size: cover;
    height: inherit;
}

#contact {
    background-image: url(../images/map.png);
    background-size: cover;
    height: inherit;
}

#resume {
    background-image: url(../images/Resume.jpg);
    width: inherit;
    background-size:contain;
    height:1500px;
}
