html, body {
    height: 100%;
}

.tbl_list {
    border-width: 0px;
}

.contact_image {
    margin-top:4.5%;
    margin-bottom:2.5%;
    margin-left:7.5%;
    margin-right:7.5%;
    height:15%;
    width:15%;
    background-repeat:no-repeat;
    cursor: pointer;
}

#cover {
    background-image: url(../images/skyline5.jpg);
    background-size: cover;
    height: inherit;
}

#work {
    background-image: url(../images/terrain.jpg);
    background-size: cover;
    height: inherit;
}

#background-contact {
    background-image: url(../images/map.png);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    background-size: cover;
    height: inherit;
}

#contact {
    top:200%;
    position: absolute;
    width:100%;
}

#resume {
    background-image: url(../images/Resume.jpg);
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1750px
}

#column1, #column2 {
    margin-top:5%;
}

#contact_title {
    margin-top:10%;
    margin-left:34%;
}

#contact1 {
    content:url(../images/github2.png);
}

#contact2 {
    content:url(../images/bitbucket2.png);
}

#contact3 {
    content:url(../images/outlook2.png);
}

#contact4 {
    content:url(../images/facebook.png);
}

#contact5 {
    content:url(../images/youtube.png);
}

#contact6 {
    content:url(../images/linkedin2.png);
}