html, body {
    height: 100%;
}

.tbl_list {
    border-width: 0px;
}

#cover {
    background-image: url(../images/skyline5.jpg);
    background-size: cover;
    height: inherit;
}

#work {
    background-image: url(../images/terrain.jpg);
    background-size: cover;
    height: inherit;
}

#background-contact {
    background-image: url(../images/map.png);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    background-size: cover;
    height: inherit;
}

#contact {
    top:200%;
    position: absolute;
}

#resume {
    background-image: url(../images/Resume.jpg);
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1750px
}

#column1, #column2 {
    margin-top:5%;
}